/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12/05/2016, 03:44:45 AM
    Author     : Daego_000
*/
.out-label {
    width: 50px;
}

.extra-panel{
    width: 350px;
}

